.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  text-align: center;
}

.item:nth-child(odd) {
  background: rgb(249, 249, 255);
}

.item:last-child {
  border-bottom: 1px solid rgb(194, 191, 191);
}

.item p {
  display: grid;
  place-items: center;
  border: 1px solid rgb(194, 191, 191);
  border-bottom: none;
}
