.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.pagination li {
  padding: 5px;
  border: 1px solid black;
  min-width: 30px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
}

.current-page {
  background: lightblue;
}
